.block {
  position: relative;
  padding: 1px;
  box-sizing: border-box;
}

.border {
  position: absolute;
  background: black;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.border.top,
.border.bottom {
  height: 2px;
  cursor: row-resize;
}

.border.left,
.border.right {
  width: 2px;
  cursor: col-resize;
}

.border.top {
  bottom: initial;
}

.border.right {
  left: initial;
}

.border.bottom {
  top: initial;
}

.border.left {
  right: initial;
}


